.template-advanced {
    .masthead {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .section {
        &:first-child {
            .container {
                margin-top: 5em;
            }
        }
    }
}
